.history {
  &__button--close {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
    z-index: 105;
  }
  &__list {
    width: 214px;
    margin: 20px auto;
    &--item {
      margin: 20px 0;
      text-align: center;
      &--image {
        margin-bottom: 10px;
      }
      &--title {
        font-weight: bold;
        padding: 5px;
      }
    }
  }
}
