.header {
  padding: 20px 0;
  text-align: center; }
  .header h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 1em 0; }
  .header--link {
    text-decoration: none; }
    .header--link span {
      padding: 3px 5px; }
