.video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 100;
}
.video__button--close {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  cursor: pointer;
  z-index: 105;
}
.video__controls {
  position: absolute;
  bottom: 6em;
  left: 45%;
  width: 20%;
  z-index: 105;
  background: #262626;
  border-radius: 1em;
  padding: 1em;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.video__controls__button {
  margin: 0 10%;
}
